$primary-color: #d7fa00;
$secondary-text-color: rgb(160, 160, 160);
$header-bg-color: black;
$base-padding: 20px;
$gap-size: 20px;

@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin font($size, $weight: 400, $color: inherit) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.header-container {
  @include flex(space-between, center);
  padding: 10px $base-padding;
  background-color: $header-bg-color;

  ul {
    @include flex;
    gap: $gap-size;

    li {
      list-style: none;
      @include font(13px);
    }
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.content-container img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 3px;
}

.content-container span {
  font-size: 12px;
  color: #d7fa00;
  border: 1px solid #d7fa00;
  padding: 4px 5px;
  border-radius: 3px;
}

.content-container div {
  font-size: 18px;
  font-weight: 600;
}

.content-container p {
  font-size: 12px;
  color: rgb(160, 160, 160);
}
